html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  align-content: flex-start;
}

#app {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

/*******************/
/* parameters style*/
/*******************/

#forceAlpha {
  flex-basis: 100%;
  padding: 0px;
  z-index: 1;
  pointer-events: none;
}

#forceAlphaBar {
  height: .5em;
  border: 1px #777 solid;
  border-radius: 2px;
  padding: 1px;
  display: flex;
}

#forceAlphaValue {
  background-color: #555;
  border-radius: 1px;
  flex-basis: 0%;
}

#forceParameters {
  flex-basis: 180px;
  padding: 0px;
  z-index: 1;
  pointer-events: none;
}

#forceAnalizers {
  flex-basis: 180px;
  padding: 0px;
  z-index: 1;
  pointer-events: none;
}

.force {
  background-color: #eee;
  border-radius: 3px;
  padding: 2px;
  margin: 3px;
  pointer-events: auto;
  font: monospace;
  font-size: small;
}

.analize {
  background-color: #eee;
  border-radius: 3px;
  padding: 2px;
  margin: 3px;
  pointer-events: auto;
  font: monospace;
  font-size: small;
}

.range {
  appearance: none;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}

.range:hover { opacity: 1; }
.range::-webkit-slider-thumb { -webkit-appearance: none; appearance: none; width: 15px; height: 10px; background: #4CAF50; cursor: pointer; }
.range::-moz-range-thumb { width: 15px; height: 10px; background: #4CAF50; cursor: pointer; }

.range:hover { opacity: 1; }
.range::-webkit-slider-thumb { -webkit-appearance: none; appearance: none; width: 15px; height: 10px; background: #4CAF50; cursor: pointer; }
.range::-moz-range-thumb { width: 15px; height: 10px; background: #4CAF50; cursor: pointer; }


/**********************/
/*svg simulation style*/
/**********************/
#background {
  fill: rgb(254, 254, 254);
}

.selectedSecond{
  stroke: rgb(255, 165, 0);
}

.selected{
  stroke: rgb(255, 0, 0);
}

text {
  font: monospace;
}
